<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="../css/header.css">
</head>
<body>
	<div>
	<h1><a href="main"><img src="image/airplane.png" alt="로고" style="width: 100px; height:100px;"></a></h1>
	</div>
	<div class="topMenu" >
		<ul class="menu">
			<li class="li"><a class="menuLink" href="noticelist">공지사항</a></li>
			<li class="li"><a class="menuLink" href="classlist">수업리스트</a></li>
			<li class="li"><a class="menuLink" href="qnaList">게시판</a></li>
		</ul>
	</div>
	<div>
		<div style="float: left; width: 50%" align="center">
			<a href="n_joinForm">
			<table>
				<tr>
					<td><img></td>	<!--이미지 넣기 (그냥 일반 회원 이미지)  -->
				</tr>
				<tr>
					<td>일반 회원 등록</td>
				</tr>
			</table>
			</a>	
		</div>
		<div style="float: left; width: 50%" align="center">
			<a href="b_joinForm">
			<table>
				<tr>
					<td><img></td>
				</tr>
				<tr>
					<td>사업자 회원 등록</td>
				</tr>
			</table>
			</a>
		</div>
	</div>
</body>
</html>